Three seperate metadata files merged into one csv file using pandas dataframe.

Preprocess image data

In [14]:
import pandas as pd
import os
import glob

In [15]:
path = os.getcwd()
dataset_path = path + '\\data01-26-test2'
print(dataset_path)

C:\Users\82108\Documents\rcCarEndtoEnd\data01-26-test2

In [16]:
for file in glob.glob(dataset_path + "\\" + "*.csv"):
    # There should be only one CSV file in the given directory
    if file.split('\\')[-1] == "metadata.csv":
        df_image = pd.read_csv(file)
    else:
        df_steer = pd.read_csv(file)

In [17]:
df_steer.head()

   steer
0   1540
1   1540
2   1536
3   1540
4   1536

In [18]:
df_steer.shape

(11860, 1)

In [19]:
df = pd.concat([df_image,df_steer],axis=1,join="inner")

In [20]:
df.head()

          time                       image_name  steer
0  1.611640e+18  frame_1611643764711043119.jpeg   1540
1  1.611640e+18  frame_1611643764744611740.jpeg   1540
2  1.611640e+18  frame_1611643764778180361.jpeg   1536
3  1.611640e+18  frame_1611643764811748505.jpeg   1540
4  1.611640e+18  frame_1611643764845316648.jpeg   1536

In [21]:
df.to_csv("./dataset.csv")